.bar {
  position: relative;
  width: 100%; /* Full width of the container */
  /* max-width: 20px; */ /* Limit the maximum width of each bar */
  margin: 0 2px; /* Space between bars */
  display: flex; /* Use flex to position child elements */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align items to the bottom */
}

.input {
  width: 100%; /* Full width for the input */
  border: none;
  background: none;
  text-align: center;
  font-size: 0.8rem; /* Adjust font size for visibility */
}
