.frame {
  margin: 20px;
  padding: 20px;
}

.barsDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px; /* Enough height for bars to show */
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden; /* Hide overflow */
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow bars to wrap on smaller screens */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.control-panel {
  margin-top: 20px;
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.controller {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controller:hover {
  background-color: #005f6b;
}
.controller .icon {
  width: 26px;
}
.panel {
  margin-top: 30px;
}
.sorting-steps {
  margin-top: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sorting-steps h3 {
  margin: 0;
}
